/* debug */

/* /debug */

/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container-70 {
    width: 70%;
    margin: 0 auto;
}

.w-50 {
    width: 49.80%;
    margin: auto;
}

.w-30 {
    width: 30%;
    margin-left: 15%;
}

.inline-block {
    display: inline-block;
}


.list-line {
    list-style: none;
}

.list-line > li {
    display: inline-block;
    padding: 0 20px;
}

.list-line a {
    text-decoration: none;
    color: 	#2F4F4F;
}

.float-right {
    float: right;
}

.align-right {
    text-align: right;
}

.page-text {
    font-size: 16px;
    color: 	#2F4F4F;
}

/* pulsanti */
.btn {
    display: inline-block;
    padding: 5px 10px;
    line-height: 40px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-orange {
    background-color: #FE775A;
    border: 1px solid #FE775A;
    color: white;
}

.btn-white {
    background-color: white;
    border: 1px solid #FE775A;
    color: #FE775A;
}

.btn-lg {
    padding: 15px 30px;
}

.btn:hover {
    opacity: 0.5;
}

.list-line a:not(.btn):hover {
    text-decoration: underline;
    color: #80BCC5;
}

/* fixed header */
.header-fixed {
    line-height: 100px;
    border-bottom: 2px solid black;
    background-color: #F4F9FD;
}

.green-line {
    height: 100px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: #AFEBE4;
}

#lens {
    color: royalblue;
}

#white {
    color: white;
}

#orange {
    color: #FE775A;
}

/* header-nav */
.header-nav {
    line-height: 100px;
}

#logo {
    height: 50px;
    vertical-align: middle;
}

/* jubotron */
.jumbotron {
    height: 600px;
    background-image: url('../img/jumbotron.png');
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-color: #FFF5EE;
}

.jumbotron h1 {
    padding-top: 40px;
    font-size: 52px;
    font-weight: 700;
    color: 	#2F4F4F;
}

.jumbotron p {
    margin: 25px 0;
}