/* debug */

/* /debug */

/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container-70 {
    width: 70%;
    margin: 0 auto;
}

.w-50 {
    width: 49.80%;
    margin: auto;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.inline-block {
    display: inline-block;
}


.list-line2 {
    list-style: none;
}

.list-line2 > li {
    display: inline-block;
    padding-right: 10px;
}

.list-line {
    list-style: none;
}

.list-line > li {
    display: inline-block;
    padding: 0 20px;
}

.list-line a {
    text-decoration: none;
    color: 	#2F4F4F;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.page-text {
    font-size: 16px;
    color: 	#2F4F4F;
}

/* pulsanti */
.btn {
    display: inline-block;
    padding: 5px 10px;
    line-height: 40px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-orange {
    background-color: #FE775A;
    border: 1px solid #FE775A;
    color: white;
}

.btn-white {
    background-color: white;
    border: 1px solid #FE775A;
    color: #FE775A;
}

.btn-lg {
    padding: 15px 30px;
}

.btn:hover {
    opacity: 0.5;
}

.list-line a:not(.btn):hover {
    text-decoration: underline;
    color: #80BCC5;
}

/* fixed header */
.header-fixed {
    line-height: 100px;
    border-bottom: 2px solid black;
    background-color: #F4F9FD;
}

.green-line {
    height: 100px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: #AFEBE4;
}

#lens {
    color: royalblue;
}

#white {
    color: white;
}

.orange {
    color: #FE775A;
}

/* header-nav */
.header-nav {
    line-height: 100px;
}

#logo {
    height: 50px;
    vertical-align: middle;
}

/* jubotron */
.jumbotron {
    height: 600px;
    background-image: url('../img/jumbotron.png');
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-color: #FFF5EE;
}

.jumbotron > .w-30 {
    margin-left: 15%;
}

.jumbotron h1 {
    padding-top: 40px;
    font-size: 52px;
    font-weight: 700;
    color: 	#2F4F4F;
}

.jumbotron p {
    margin: 25px 0;
}

/* main */
main {
    background-color: #F4F9FD;
}

main > .w-50 {
    text-align: center;
}

#cube {
    height: 300px;
    margin-top: 40px;
}

h2 {
    font-size: 36px;
    color: #2F4F4F;
    margin-bottom: 30px;
}

#first-block {
    background-color: white;
    margin-top: 50px;
    padding: 60px 0;
}

#book {
    display: block;
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 30px;
    font-size: 26px;
    color: #2F4F4F;
}

h4 {
    display: inline-block;
    margin: 40px 0;
    font-size: 18px;
    text-transform: uppercase;
}

.hr-box {
    display: inline-block;
    vertical-align: middle;
    margin-left: 35px;
    width: 65%;
    border: 1px solid black;
}

/* three column section */
.bubble {
    width: 100%;
    height: 100px;
}

#center {
    margin-left: 5%;
}

.three-column-sec {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 50px;
    background-color: white;
}

.three-column-sec p {
    margin-bottom: 60px;
}

.three-column-sec ul {
    list-style: none;
    margin-bottom: 40px;
}

/* company-info */
.company-info {
    padding: 40px 0 80px 0;
    background-image: linear-gradient(to left, #80D5D8 0%, #00A8B9 50%, #80D5D8 100%);
    color: white;
}

.company-info h3 {
    font-size: 36px;
    color: white;
}

#p-special {
    margin-bottom: 60px;
}

.w-25.float-left {
    padding: 30px 0;
}

.w-25 img {
    padding-bottom: 20px;
}

.w-25  > p {
    font-size: 46px;
    font-weight: bold;
    color: white;
}

.w-25 h5 {
    font-weight: normal;
    color: white;
}

.line-top {
    border-bottom: 1px solid white;
}

.line-right {
    border-right: 1px solid white;
}

/* partners */
.partners {
    padding: 50px 0;
    background-color: #F4F9FD;
}

#six4500 {
    font-size: 50px;
    font-weight: bold;
}

#one-00 {
    font-weight: bold;
}

.sponsors {
    width: 157px;
    height: 30px;
    margin: 20px 20px;
}

#strict-text {
    padding: 0 165px 0 50px;
}

.w-40 a {
    margin: 45px 0;
}

.box-margin {
    margin-bottom: 80px;
}

#bg-woman {
    background-image: url('../img/woman.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 90%;
}
